/* #my-select {
 	color: white;
 	font-family: arial;

 	.selectical-dropdown {
 		background: rgba(0, 150, 250, 1);
 		border-radius: 5px;
 	}

 	.selectical-dropdown-option {
 		background: rgba(0, 150, 250, 1);
 		&:hover {
 			background: darken(rgba(0, 150, 250, 1), 5%);
 		}
 		&:active {
 			background-color: darken(rgba(0, 150, 250, 1), 10%);
 		}
 	}

 	.selectical-btn {
 		border-radius: 5px;
 		background: rgba(0, 150, 250, 1);
 		&:hover {
 			background: darken(rgba(0, 150, 250, 1), 5%);
 		}
 		&:active {
 			background: darken(rgba(0, 150, 250, 1), 10%);
 		}
 	}
 }*/

.big-blue {
	width: 300px;
	height: 300px;
	background: blue;
}
.big-red {
	width: 300px;
	height: 300px;
	background: red;
}